<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="62">
    <div ng-controller="ctrl62">
        <label>Digite o valor</label>
        <input type="number"  ng-model="num1">
        <label>Digite o valor</label>
        <input type="number" ng-model="num2">
        <label>Digite o valor</label>
        <input type="number"  ng-model="op">
        
    
        {{Resultado(num1,num2,op)}}
    </div>
    
    
</body>
</html>
 <script>
   var app = angular.module("62",[])
   app.controller("ctrl62", function($scope){
       $scope.Resultado = function(num1,num2){
           if(op =="1"){

               return num1+num2
    }
    if(op == "2"){
        return num1-num2

    }

    if(op == "3"){
        return num1*num2
    }

    if(op == "4"){
        return num1/num2
    }         

            
       }

   
   })
</script>